<div *ngIf="isAccessTokenInSession() && isInited">
  <div class="row">
    <div class="col-sm-5">
      <div *ngIf="pagedPlaylists">
        <h1>Here is {{pagedPlaylists.playlists.length}} of your {{pagedPlaylists.total}} playlists</h1>
        <ul>
          <li *ngFor="let playlist of pagedPlaylists.playlists">{{playlist.name}} </li>
        </ul>
        <div class="pagingControls">
          <button class="pagers" [disabled]="!pagedPlaylists.previousUrl" (click)="getPreviousPlaylists()">Get Previous Set of playlists</button>
          <button class="pagers" [disabled]="!pagedPlaylists.nextUrl" (click)="getNextPlaylists()">Get Next Set of playlists</button>
        </div>
        <button (click)="getRandomPlaylist()">Get Random Playlist</button>
      </div>
      <div *ngIf="!!selectedPlaylist.Name">
        <h1>Your Random Playlist is: {{selectedPlaylist.Name}} <button (click)="startPlaylist()">Play it</button></h1>
      </div>
    </div>
  </div>
</div>
