.paging /deep/ .ngx-pagination .pagination-previous {
  background: limegreen;
  color: black;
  border-radius: 12px;
}
.paging /deep/ .ngx-pagination .pagination-next {
  background: limegreen;
  color: black;
  border-radius: 12px;
}

.paging /deep/ .ngx-pagination .current {
  background: black;
  border: 2px solid limegreen;
  color: black;
  border-radius: 12px;
}

.paging /deep/ .ngx-pagination span{
  color: limegreen;
}

.paging /deep/ .ngx-pagination a:hover {
  background: black;
  color: limegreen;
  border: none;
  border-radius: 12px;
}

.paging /deep/ .ngx-pagination .disabled {
  background: black;
  color: limegreen;
  border: none;
  border-radius: 12px;
  outline: none;
}

.paging /deep/ .ngx-pagination {
  padding: 10px 10px 10px 10px;
  align-self: center;
  color: limegreen;
}

button {
  background-color: limegreen;
  border: none;
  color: black;
  border-radius: 12px;
  font-size: 25px;
  position: center;
  outline:none !important;
  height:20%;
}

.list {
  min-height: 100%;
  display: flex;
  width: 100%;
}

ul {
  list-style-type: none;
  align-content: center;
  cursor: default !important;
  min-width: 500px;
  /*border: 5px solid limegreen;*/
}
li{
  cursor:default !important;
}

.left{
  width: 10%;
}

.right{
  width: 75%;
}

.column {
  float: left;
  padding-top: 40%;
}

.playlistTitle {
  padding-top:0px;
}
